// .vuepress/styles/index.styl
// only include stylus that you custom

.site-name {
  // padding-left: 120px;
}

.content code {
  color: #3eaf7c;
  font-weight: 800;
  // background-color: rgba(19, 117, 215, 0.05);
}

/* back to top */
.go-to-top {
  height: 2rem;
  width: 2rem;
  padding: 0.6rem;
  border-radius: 50%;
  border: 2px solid #3eaf7c;
}
